
@{
    ViewBag.Title = "SimpleDemo";
}

<h2>Hello World Component</h2>
<div id="demo1"></div>
<hr />


<h2>Adder Component</h2>
<div id="demo2"></div>
<hr />

<h2>Counter</h2>
<div id="demo3"></div>
<hr />


<h2>Filter Demo</h2>
<div id="demo4"></div>
<hr />


<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react-dom.js"></script>
<script src="@Url.Content("~/Scripts/demo1.jsx")"></script>
